.titulo-h1{
    color: red;
} 
#subtitulo{
    color: blue;
}
[fulbo=droga]{
    color: greenyellow;
}
h3 p {
    color: aquamarine;
}
h1:hover {
    color: purple;
}
#subtitulo:hover {
    color: purple;
}
h4 {
    color: grey !important;
}
.form__input:first-child {
    color: antiquewhite;
}
.form__input--active {
    color: orange;
}
