.titulo-h1{
    font-family: "Chonburi", Arial;
    font-size: 3em;
    color: red;
} 
#subtitulo{
    font-family: Arial;
    color: blue;
}
[fulbo=droga]{
    color: greenyellow;
}
h3 p {
    color: aquamarine;
}
h1:hover {
    color: purple;
}
#subtitulo:hover {
    color: purple;
}
h4 {
    color: grey !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10000;
}
.form {
    font-size: 40px;
}
.form__input:first-child {
    color: antiquewhite;
}
.form__input-p {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #ff0;
    width: 100vw;;
}
.form__input--active {
    color: orange;
}
